<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
    
    <div style="max-width:470px">
        <button style="border:0px; background-color:#4285F4; margin-top:8%;
         height:35px; width:80%; margin-left:19%;" onclick='location.href="{% url 'full_chain' %}"' ><strong>Chain</strong></button>
    </div>
    <div style="max-width:470px">
        <button style="border:0px; background-color:#4285F4; margin-top:8%;
         height:35px; width:80%; margin-left:19%;" onclick='location.href="{% url 'data' %}"' ><strong>Transaction</strong></button>
    </div>
    <div style="max-width:470px">
        <button style="border:0px; background-color:#4285F4; margin-top:8%;
         height:35px; width:80%; margin-left:19%;" onclick='location.href="{% url 'mine' %}"' ><strong>Mine</strong></button>
    </div>
    <div style="max-width:470px">
        <button style="border:0px; background-color:#4285F4; margin-top:8%;
         height:35px; width:80%; margin-left:19%;" onclick='location.href="{% url 'register' %}"'><strong>Register your Node</strong></button>
    </div>
    
       
    
    </div>
</body>
</html>