<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form name="form" action= "{% url 'register_node' %}" method="POST">
    {% csrf_token %}
        <div style = "max-width:450px;">
            <center> 
               <input type = "text" style = "margin-left:20%;" 
                  placeholder = "Node" name = "node" />
            </center>
         </div>
			
        <div style="max-width:470px">
            <center>
                <button style="border:0px; background-color:#4285F4; margin-top:8%;
                    height:35px; width:80%; margin-left:19%;" type="submit" value="Register">
                    <strong>Register</strong>
                </button>
                <strong>In format: "http://xyz.com"</strong>
            </center>
        </div>
    </form>

</body>
</html>